.verticaal{
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-lr;
    transform: rotate(-180deg);
}

#oat{
    right:0;
}

th {
text-align: center;
    vertical-align: middle;
}

th.onder {
    border-bottom: 3px solid black;
}

th.uit{
    font-size: 0.6rem;
    font-weight: normal;
    color: #555555;
    background-color:#dddddd;
    padding:0.1rem;
}

.xs{
    font-size: 0.6rem;
}


.verwijzing{
    background-color:rgba(0,0,255,0.2) !important;
    font-weight:normal;
    font-size: small;
    color: black;
}

.beroep{
    background-color: rgba(255,140,0,0.2) !important;
    font-weight:normal;
    font-size: small;
    color: black;
}


.plaats{
    background-color: rgba(255,0,255,0.2) !important;
    font-weight:normal;
    font-size: small;
    color: black;    
}

.jrSr{
    background-color: rgba(0,255,0,0.2) !important;
    font-weight:normal;
    font-size: small;
    color: black;    
}


.artikelnr{
    background-color: rgba(0,100,0,0.4) !important;
    font-weight: bold;
    font-size: normal;
    color: black;    
}

.huisnr{
    background-color: rgb(50,50,137) !important;
    font-weight: bold;
    font-size: normal;
    color: white;    
}

.gebouwde_klasse{
    border: 1px solid #aa0000;
    color: #aa0000;
}

.ongebouwde_klasse{
    border: 1px solid #00aa00;
    color: #00aa00;
}

.mono{
    font-family: 'Courier New', Courier, monospace;
}

.subk_s{
    border-left: 1px dotted;
}

.subk_e{
    border-right: 1px dotted;
}

body {
    --red: 0;
    --green: 157;
    --blue: 224;
    --color-accent: rgb(var(--red), var(--green), var(--blue));
    --color-accent-light: rgba(var(--red), var(--green), var(--blue), 0.25);
    --color-accent-ultralight: rgba(var(--red), var(--green), var(--blue), 0.06);
    
    --color-white: #fff;
    --color-dark: rgb(44, 63, 72);
    --color-dark-light: rgba(44, 63, 72, 0.25);
    --color-dark-ultralight: rgba(44, 63, 72, 0.06);
  
    --color-background: var(--color-white)
  }
  
td {
    height:inherit;
}

  .content {
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    height: 100%;
    /* margin: 2rem 0;
    padding: 1.5rem; */
  }
  .accolade .content {
    padding-left: 1rem;
  }
  .accolade {
    height: 100%;
    position: relative;
    background: inherit;
  }
  .accolade:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 50%;
    background: inherit;
    border-radius: 0 0 0 1.5rem;
    border-left: 2px solid var(--color-accent);
    border-bottom: 2px solid var(--color-accent);
  }
  .accolade:after {
    content:'';
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 1rem;
    height: 50%;
    background: inherit;
    border-radius: 1.5rem 0 0 0;
    border-left: 2px solid var(--color-accent);
    border-top: 2px solid var(--color-accent);
  }