.verticaal{
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-lr;
    transform: rotate(-180deg);
}

#oat{
    right:0;
}

th {
text-align: center;
    vertical-align: middle;
}

th.onder {
    border-bottom: 3px solid black;
}

th.uit{
    font-size: 0.8rem;
    font-weight: normal;
    color: #555555;
    background-color:#dddddd;
    padding:0.1rem;
}
