.verticaal{
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-lr;
    transform: rotate(-180deg);
}

#oat{
    right:0;
}

th {
text-align: center;
    vertical-align: middle;
}

th.onder {
    border-bottom: 3px solid black;
}

th.uit{
    font-size: 0.6rem;
    font-weight: normal;
    color: #555555;
    background-color:#dddddd;
    padding:0.1rem;
}

.xs{
    font-size: 0.6rem;
}


body {
    --red: 0;
    --green: 157;
    --blue: 224;
    --color-accent: rgb(var(--red), var(--green), var(--blue));
    --color-accent-light: rgba(var(--red), var(--green), var(--blue), 0.25);
    --color-accent-ultralight: rgba(var(--red), var(--green), var(--blue), 0.06);
    
    --color-white: #fff;
    --color-dark: rgb(44, 63, 72);
    --color-dark-light: rgba(44, 63, 72, 0.25);
    --color-dark-ultralight: rgba(44, 63, 72, 0.06);
  
    --color-background: var(--color-white)
  }
  
  .container {
    height: 100%;
  }
  .content {
    border-radius: 2px;
    /* margin: 2rem 0;
    padding: 1.5rem; */
  }
  .accolade .content {
    padding-left: 1rem;
  }
  .accolade {
    position: relative;
    background: inherit;
  }
  .accolade:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 2rem;
    background: inherit;
    border-radius: 0 0 1.5rem 0;
    border-right: 2px solid var(--color-accent);
    border-bottom: 2px solid var(--color-accent);
  }
  .accolade:after {
    content:'';
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 1rem;
    height: calc(100% - 2rem - 2px);
    background: inherit;
    border-radius: 0 1.5rem 0 0;
    border-right: 2px solid var(--color-accent);
    border-top: 2px solid var(--color-accent);
  }